In this Jupyter Notebook, we will show how to install, connect and run Athena SQL queries to access the Seeds R&D Data Lake.  

The first step is to check if PyAthena has been installed in your environment.  If not you can use the code below to import PyAthena package. 
*note: you must have sys package installed as well.

In [9]:
import sys
!{sys.executable} -m pip install PyAthena

Looking in indexes: https://mirror.syngentaaws.org/pypi/simple
Requirement already satisfied: PyAthena in /home/centos/anaconda3/lib/python3.7/site-packages (1.10.2)
Requirement already satisfied: future in /home/centos/anaconda3/lib/python3.7/site-packages (from PyAthena) (0.17.1)
Requirement already satisfied: boto3>=1.4.4 in /home/centos/anaconda3/lib/python3.7/site-packages (from PyAthena) (1.10.36)
Requirement already satisfied: tenacity>=4.1.0 in /home/centos/anaconda3/lib/python3.7/site-packages (from PyAthena) (4.12.0)
Requirement already satisfied: botocore>=1.5.52 in /home/centos/anaconda3/lib/python3.7/site-packages (from PyAthena) (1.13.36)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/centos/anaconda3/lib/python3.7/site-packages (from boto3>=1.4.4->PyAthena) (0.9.4)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /home/centos/anaconda3/lib/python3.7/site-packages (from boto3>=1.4.4->PyAthena) (0.2.1)
Requirement already satisfied: six>=1.9.0 in /home/centos/anaconda3/lib/python3.7/site-packages (from tenacity>=4.1.0->PyAthena) (1.12.0)
Requirement already satisfied: docutils<0.16,>=0.10 in /home/centos/anaconda3/lib/python3.7/site-packages (from botocore>=1.5.52->PyAthena) (0.14)
Requirement already satisfied: python-dateutil<2.8.1,>=2.1; python_version >= "2.7" in /home/centos/anaconda3/lib/python3.7/site-packages (from botocore>=1.5.52->PyAthena) (2.8.0)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version >= "3.4" in /home/centos/anaconda3/lib/python3.7/site-packages (from botocore>=1.5.52->PyAthena) (1.24.1)

Once installed you can import PyAthena and use the code below to connect to your AWS account using the Access Key and Secret key unique yo your Syngenta AWS Athena account.  

**instructions for users on how to find their secret key and access key

You can find your S3 Bucket path by selecting the Settings button in the top right hand of the screen when logged into your AWS Account

<img src="DSimg1.png">

You should see a settings pop up and your Query result location will be dislayed here

<img src="DSimg2.png">

Your region name will display at the tail end of the Query result location (for example us-east-1)

In [56]:
from pyathena import connect
import pandas as pd
conn = connect(aws_access_key_id= 'YOUR_ACCESS_KEY_ID',
               aws_secret_access_key= 'YOUR_SECRET_ACCESS_KEY',
               s3_staging_dir=  's3://YOUR_S3_BUCKET/path/to/',
               region_name='us-east-1') #you may need to update the region name here.

Now you are ready to start running queries

In [24]:
#you must specify the database you are calling.  For example here, I am using pub_pegasys_dev
df = pd.read_sql("SELECT * FROM pub_pegasys_dev.address limit 8;", conn)
df.head()

,address_guid,phone_no,fax_no,address_1,city,zip_code,email,last_chg_date,last_chg_user,county_guid,state_province_guid,country_guid,address_2
0,C79044EC-9016-4372-A51E-3A864C87AF63,None,None,None,None,None,None,2018-08-03 14:05:57.730,RAMPONSY,None,None,None,None
1,3B90A236-1BF9-4A89-9997-45C259670459,None,None,None,None,None,None,2018-08-03 14:05:57.730,RAMPONSY,None,None,None,None
2,5AE5AF81-E1ED-4BE0-8118-4FBE83A56945,None,None,None,None,None,None,2018-08-03 14:05:57.730,RAMPONSY,None,None,None,None
3,8D1543A7-848D-4E5D-A273-516F56917005,None,None,None,None,None,None,2018-08-03 14:05:57.730,RAMPONSY,None,None,None,None
4,CCCC412F-0B86-4524-86A3-60106F033DC5,None,None,None,None,None,None,2018-08-03 14:05:57.730,RAMPONSY,None,None,None,None

In [45]:
df_list = df.values.tolist()
print(df_list)
print(len(df_list))

[['C79044EC-9016-4372-A51E-3A864C87AF63', None, None, None, None, None, None, Timestamp('2018-08-03 14:05:57.730000'), 'RAMPONSY', None, None, None, None], ['3B90A236-1BF9-4A89-9997-45C259670459', None, None, None, None, None, None, Timestamp('2018-08-03 14:05:57.730000'), 'RAMPONSY', None, None, None, None], ['5AE5AF81-E1ED-4BE0-8118-4FBE83A56945', None, None, None, None, None, None, Timestamp('2018-08-03 14:05:57.730000'), 'RAMPONSY', None, None, None, None], ['8D1543A7-848D-4E5D-A273-516F56917005', None, None, None, None, None, None, Timestamp('2018-08-03 14:05:57.730000'), 'RAMPONSY', None, None, None, None], ['CCCC412F-0B86-4524-86A3-60106F033DC5', None, None, None, None, None, None, Timestamp('2018-08-03 14:05:57.730000'), 'RAMPONSY', None, None, None, None], ['52193BB2-7D8B-4A3A-B294-7C9EA07E3B3D', None, None, None, None, None, None, Timestamp('2018-08-03 14:05:57.730000'), 'RAMPONSY', None, None, None, None], ['1E584068-C557-4703-8C8A-88A5CBB62AE2', None, None, None, None, None, None, Timestamp('2018-08-03 14:05:57.730000'), 'RAMPONSY', None, None, None, None], ['A9CBFA8B-BA56-4AE3-9041-D00ACDC32806', None, None, None, None, None, None, Timestamp('2019-04-20 01:33:59.460000'), 'yanneja1', None, None, '50B7C2B1-B9F2-4364-9D7D-E511A91FE1B1', None]]
8

In [53]:
final_recs = []
for i in df_list:
    s = ', '.join(str(e) for e in i)
    final_recs.append(s)

 

"\n".join(final_recs) + "\n"

'C79044EC-9016-4372-A51E-3A864C87AF63, None, None, None, None, None, None, 2018-08-03 14:05:57.730000, RAMPONSY, None, None, None, None\n3B90A236-1BF9-4A89-9997-45C259670459, None, None, None, None, None, None, 2018-08-03 14:05:57.730000, RAMPONSY, None, None, None, None\n5AE5AF81-E1ED-4BE0-8118-4FBE83A56945, None, None, None, None, None, None, 2018-08-03 14:05:57.730000, RAMPONSY, None, None, None, None\n8D1543A7-848D-4E5D-A273-516F56917005, None, None, None, None, None, None, 2018-08-03 14:05:57.730000, RAMPONSY, None, None, None, None\nCCCC412F-0B86-4524-86A3-60106F033DC5, None, None, None, None, None, None, 2018-08-03 14:05:57.730000, RAMPONSY, None, None, None, None\n52193BB2-7D8B-4A3A-B294-7C9EA07E3B3D, None, None, None, None, None, None, 2018-08-03 14:05:57.730000, RAMPONSY, None, None, None, None\n1E584068-C557-4703-8C8A-88A5CBB62AE2, None, None, None, None, None, None, 2018-08-03 14:05:57.730000, RAMPONSY, None, None, None, None\nA9CBFA8B-BA56-4AE3-9041-D00ACDC32806, None, None, None, None, None, None, 2019-04-20 01:33:59.460000, yanneja1, None, None, 50B7C2B1-B9F2-4364-9D7D-E511A91FE1B1, None\n'

In [64]:
s3 = boto3.client('s3',
    aws_access_key_id='AKIASPOG3K7VKOTLDFP4',
    aws_secret_access_key='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',
    region_name='us-east-1'
)

#s3 = boto3.client('s3')
bucket='us.com.syngenta.pegasys.users'
key='pegasys_nonprod_user/df.txt'
s3.put_object(Body="\n".join(final_recs) + "\n", Bucket=bucket, Key=key)

{'ResponseMetadata': {'RequestId': 'EDF6E2F6BA79DBF6',
  'HostId': 'jFRdygoxvrepwOke/sMSVfiI4IrCqwODNi+7rgbXV9My741pUwqpzEmXwpfo47/RN/MRCZPbReQ=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'jFRdygoxvrepwOke/sMSVfiI4IrCqwODNi+7rgbXV9My741pUwqpzEmXwpfo47/RN/MRCZPbReQ=',
   'x-amz-request-id': 'EDF6E2F6BA79DBF6',
   'date': 'Fri, 20 Mar 2020 19:47:25 GMT',
   'etag': '"de2ba6e1eef4cf6bbdd599cbd553f362"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"de2ba6e1eef4cf6bbdd599cbd553f362"'}

In [ ]:
access_key = 'AKIASPOG3K7VKOTLDFP4'
secret_key = 'YHgdOOH7v0QxWg9iAz1+yCh+KnJxwPqZDWS4DjOM'
path = 's3://aws-athena-query-results-170605107178-us-east-1/'

And you're all set.  Your dataset has been saved to your personal S3 bucket and can be accessed later when beginning your analysis.