In [1]:
import sys
!{sys.executable} -m pip install PyAthena

Looking in indexes: https://mirror.syngentaaws.org/pypi/simple
Collecting PyAthena
  Downloading https://mirror.syngentaaws.org/pypi/packages/16/b5/aa80212ff92250b00ce2c49b8aad0423d73ca0bb51214a5ce1c31d3a672d/PyAthena-1.10.2-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 12.6 MB/s
Requirement already satisfied: future in /home/centos/anaconda3/lib/python3.7/site-packages (from PyAthena) (0.17.1)
Requirement already satisfied: boto3>=1.4.4 in /home/centos/anaconda3/lib/python3.7/site-packages (from PyAthena) (1.10.36)
Requirement already satisfied: tenacity>=4.1.0 in /home/centos/anaconda3/lib/python3.7/site-packages (from PyAthena) (4.12.0)
Requirement already satisfied: botocore>=1.5.52 in /home/centos/anaconda3/lib/python3.7/site-packages (from PyAthena) (1.13.36)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/centos/anaconda3/lib/python3.7/site-packages (from boto3>=1.4.4->PyAthena) (0.9.4)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /home/centos/anaconda3/lib/python3.7/site-packages (from boto3>=1.4.4->PyAthena) (0.2.1)
Requirement already satisfied: six>=1.9.0 in /home/centos/anaconda3/lib/python3.7/site-packages (from tenacity>=4.1.0->PyAthena) (1.12.0)
Requirement already satisfied: docutils<0.16,>=0.10 in /home/centos/anaconda3/lib/python3.7/site-packages (from botocore>=1.5.52->PyAthena) (0.14)
Requirement already satisfied: python-dateutil<2.8.1,>=2.1; python_version >= "2.7" in /home/centos/anaconda3/lib/python3.7/site-packages (from botocore>=1.5.52->PyAthena) (2.8.0)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version >= "3.4" in /home/centos/anaconda3/lib/python3.7/site-packages (from botocore>=1.5.52->PyAthena) (1.24.1)
Installing collected packages: PyAthena
Successfully installed PyAthena-1.10.2

In [142]:
from pyathena import connect
import pandas as pd

conn = connect(aws_access_key_id='AKIASPOG3K7VB7DOTSH7',
               aws_secret_access_key='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',
               s3_staging_dir='s3://us.com.syngenta.pegasys.users/Brian.Adams@syngenta.com/aws-athena-query-results/',
               region_name='us-east-1')

In [ ]:
#breeding_codes for LATAM = 'AC','TH','FSC','EB','EE','LE','BEM','TP','MT','CH','PE','LO','UB','MGO','BPE','SSC','PM','TT','LT',
#'AM','PRA','TDA','TC','SY','BG','TG','LAN','AT','MK','EL','CPE','FS','MG','JD','AFE','QA','SA','DW','IT','NTE','FA','FP','MAB','FB','SBC'

#breeding_codes for China = 'DM','XJ','XK','WF','XP','ZB','BE','BB','BI','GR','ZW','WX','LB','LP'

In [171]:
query1 = "SELECT breeding_group_code, \
year, count (distinct trial_id) AS Trial_Count \
FROM pub_pegasys_prod.corn_training_dataset_library \
WHERE breeding_group_code IN ('DM','XJ','XK','WF','XP','ZB','BE','BB','BI','GR','ZW','WX','LB','LP') \
AND year IN (2015, 2016, 2017, 2018, 2019, 2020) \
GROUP BY  breeding_group_code, year \
ORDER BY  breeding_group_code, year"

num_trails = pd.read_sql(query1, conn)

num_trails.head()

  breeding_group_code  year  Trial_Count
0                  GR  2015           24
1                  GR  2016            1
2                  GR  2017           32
3                  GR  2018           31
4                  GR  2019           38

In [172]:
query2 = "SELECT breeding_group_code, year, count (distinct trial_id) AS Trials_wYGSMN \
FROM pub_pegasys_prod.corn_training_dataset_library \
WHERE breeding_group_code IN ('DM','XJ','XK','WF','XP','ZB','BE','BB','BI','GR','ZW','WX','LB','LP') \
AND year IN (2015, 2016, 2017, 2018, 2019, 2020) \
AND trait_measure_code = 'YGSMN' \
GROUP BY  breeding_group_code, year \
ORDER BY  breeding_group_code, year"

trials_wYGSMN = pd.read_sql(query2, conn)

trials_wYGSMN.head()

  breeding_group_code  year  Trials_wYGSMN
0                  GR  2015             24
1                  GR  2016              1
2                  GR  2017             28
3                  GR  2018             28
4                  GR  2019             38

In [173]:
query3 = "SELECT breeding_group_code, \
         year, \
         count (distinct plot_barcode) AS Plots_wYGSMN \
FROM ""pub_pegasys_prod"".""corn_training_dataset_library"" \
WHERE breeding_group_code IN ('DM','XJ','XK','WF','XP','ZB','BE','BB','BI','GR','ZW','WX','LB','LP') \
        AND year IN (2015, 2016, 2017, 2018, 2019, 2020) \
        AND trait_measure_code = 'YGSMN' \
GROUP BY  breeding_group_code, year \
ORDER BY  breeding_group_code, year"

num_plots_wYGSMN = pd.read_sql(query3, conn)

num_plots_wYGSMN.head()

  breeding_group_code  year  Plots_wYGSMN
0                  GR  2015           384
1                  GR  2016            28
2                  GR  2017           719
3                  GR  2018           802
4                  GR  2019           947

In [174]:
query4 = "SELECT breeding_group_code, \
         year, \
         count (distinct plot_barcode) AS Plots_wYGSMN_bp \
FROM pub_pegasys_prod.corn_training_dataset_library \
WHERE breeding_group_code IN ('DM','XJ','XK','WF','XP','ZB','BE','BB','BI','GR','ZW','WX','LB','LP') \
        AND year IN (2015, 2016, 2017, 2018, 2019, 2020) \
        AND trait_measure_code = 'YGSMN' \
        AND fp_linecode is NOT null \
        AND mp_linecode is NOT null \
GROUP BY  breeding_group_code, year \
ORDER BY  breeding_group_code, year "

pwYGSMN_bp = pd.read_sql(query4, conn)

pwYGSMN_bp.head()

  breeding_group_code  year  Plots_wYGSMN_bp
0                  GR  2015              256
1                  GR  2016               20
2                  GR  2017              565
3                  GR  2018              645
4                  GR  2019              770

In [175]:
query5 = "SELECT breeding_group_code, \
         year, \
         count(distinct plot_barcode) AS parsing_ABBRC \
FROM pub_pegasys_prod.corn_training_dataset_library \
JOIN pub_pegasys_prod.line_sp fp \
    ON fp.line_code = coalesce(fp_linecode,regexp_replace(split_part(abbreviated_code, '/', 1) , '[A-Z]+$', ''),'NULL') \
JOIN pub_pegasys_prod.line_sp mp \
    ON mp.line_code = coalesce(mp_linecode,regexp_replace(split_part(abbreviated_code, '/', 2) , '[A-Z]+$', ''),'NULL') \
WHERE breeding_group_code IN ('DM','XJ','XK','WF','XP','ZB','BE','BB','BI','GR','ZW','WX','LB','LP') \
        AND year IN (2015, 2016, 2017, 2018, 2019, 2020) \
        AND trait_measure_code = 'YGSMN' \
GROUP BY  breeding_group_code, year \
ORDER BY  breeding_group_code, year"

parse_ABBRC = pd.read_sql(query5, conn)

parse_ABBRC.head()

  breeding_group_code  year  parsing_ABBRC
0                  GR  2015            256
1                  GR  2016             20
2                  GR  2017            565
3                  GR  2018            645
4                  GR  2019            770

In [176]:
query6 = "SELECT breeding_group_code, \
         year, \
         count(distinct plot_barcode) AS fm_geno \
FROM pub_pegasys_prod.corn_training_dataset_library \
JOIN pub_pegasys_prod.line_sp fp \
    ON fp.line_code = coalesce(fp_linecode,regexp_replace(split_part(abbreviated_code, '/', 1) , '[A-Z]+$', ''),'NULL') \
JOIN pub_pegasys_prod.line_sp mp \
    ON mp.line_code = coalesce(mp_linecode,regexp_replace(split_part(abbreviated_code, '/', 2) , '[A-Z]+$', ''),'NULL') \
JOIN pub_pegasys_prod.consensus_genotype_by_corn fpcfp \
    ON fpcfp.line_code = fp.line_code \
        AND fpcfp.crop_id = 9 \
WHERE breeding_group_code IN ('DM','XJ','XK','WF','XP','ZB','BE','BB','BI','GR','ZW','WX','LB','LP') \
        AND year IN (2015, 2016, 2017, 2018, 2019, 2020) \
        AND trait_measure_code = 'YGSMN' \
GROUP BY  breeding_group_code, year \
ORDER BY  breeding_group_code, year "

genotype_fm = pd.read_sql(query6, conn)

genotype_fm.head()

  breeding_group_code  year  fm_geno
0                  GR  2015      256
1                  GR  2016       20
2                  GR  2017      565
3                  GR  2018      645
4                  GR  2019      770

In [177]:
query7 = "SELECT breeding_group_code, \
         year, \
         count(distinct plot_barcode) AS male_geno \
FROM pub_pegasys_prod.corn_training_dataset_library \
JOIN pub_pegasys_prod.line_sp fp \
    ON fp.line_code = coalesce(fp_linecode,regexp_replace(split_part(abbreviated_code, '/', 1) , '[A-Z]+$', ''),'NULL') \
JOIN pub_pegasys_prod.line_sp mp \
    ON mp.line_code = coalesce(mp_linecode,regexp_replace(split_part(abbreviated_code, '/', 2) , '[A-Z]+$', ''),'NULL') \
JOIN pub_pegasys_prod.consensus_genotype_by_corn mpcfp \
    ON mpcfp.line_code = mp.line_code \
        AND mpcfp.crop_id = 9 \
WHERE breeding_group_code IN ('DM','XJ','XK','WF','XP','ZB','BE','BB','BI','GR','ZW','WX','LB','LP') \
        AND year IN (2015, 2016, 2017, 2018, 2019, 2020) \
        AND trait_measure_code = 'YGSMN' \
GROUP BY  breeding_group_code, year \
ORDER BY  breeding_group_code, year"

genotype_m = pd.read_sql(query7, conn)

genotype_m.head()

  breeding_group_code  year  male_geno
0                  GR  2015        256
1                  GR  2016         20
2                  GR  2017        565
3                  GR  2018        645
4                  GR  2019        770

In [178]:
query8 = "with temporaryTable(lineswithconsensus) AS \
    (SELECT DISTINCT line_code \
    FROM pub_pegasys_prod.consensus_genotype_by_corn \
    WHERE crop_id = 9) \
SELECT breeding_group_code, \
         year, \
         count(distinct plot_barcode) AS both_geno \
FROM pub_pegasys_prod.corn_training_dataset_library \
JOIN pub_pegasys_prod.line_sp fp \
    ON fp.line_code = coalesce(fp_linecode,regexp_replace(split_part(abbreviated_code, '/', 1) , '[A-Z]+$', ''),'NULL') \
JOIN pub_pegasys_prod.line_sp mp \
    ON mp.line_code = coalesce(mp_linecode,regexp_replace(split_part(abbreviated_code, '/', 2) , '[A-Z]+$', ''),'NULL') \
JOIN temporaryTable fpcfp \
    ON fpcfp.lineswithconsensus = fp.line_code \
JOIN temporaryTable mpcfp \
    ON mpcfp.lineswithconsensus = mp.line_code \
WHERE breeding_group_code IN ('DM','XJ','XK','WF','XP','ZB','BE','BB','BI','GR','ZW','WX','LB','LP') \
        AND year IN (2015, 2016, 2017, 2018, 2019, 2020) \
        AND trait_measure_code = 'YGSMN' \
GROUP BY  breeding_group_code, year \
ORDER BY  breeding_group_code, year"

both_geno = pd.read_sql(query8, conn)

both_geno.head()

  breeding_group_code  year  both_geno
0                  GR  2015        256
1                  GR  2016         20
2                  GR  2017        565
3                  GR  2018        645
4                  GR  2019        770

In [179]:
def merge_all(df):
    df = pd.merge(num_trails, trials_wYGSMN, how = 'left', on=['breeding_group_code', 'year'])
    df2 = pd.merge(df,num_plots_wYGSMN, how = 'left', on=['breeding_group_code', 'year'])
    df3 = pd.merge(df2,pwYGSMN_bp, how = 'left', on=['breeding_group_code', 'year'])
    df3['Percent both Parent LINCD with TGSMN'] = df3['Plots_wYGSMN_bp']/df3['Plots_wYGSMN']
    df4 = pd.merge(df3,parse_ABBRC, how = 'left', on=['breeding_group_code', 'year'])
    df5 = pd.merge(df4,genotype_fm, how = 'left', on=['breeding_group_code', 'year'])
    df6 = pd.merge(df5,genotype_m, how = 'left', on=['breeding_group_code', 'year'])
    df7 = pd.merge(df6,both_geno, how = 'left', on=['breeding_group_code', 'year'])
    #s = df7.style.applymap(color_negative_red, subset = ['Percent both Parent LINCD with TGSMN']).format({'Percent both Parent LINCD with TGSMN': "{:.2%}"})
    return df7

finaldf = merge_all(df)

In [180]:
finaldf

,breeding_group_code,year,Trial_Count,Trials_wYGSMN,Plots_wYGSMN,Plots_wYGSMN_bp,Percent both Parent LINCD with TGSMN,parsing_ABBRC,fm_geno,male_geno,both_geno
0,GR,2015,24,24,384,256,0.666667,256,256,256,256
1,GR,2016,1,1,28,20,0.714286,20,20,20,20
2,GR,2017,32,28,719,565,0.785814,565,565,565,565
3,GR,2018,31,28,802,645,0.804239,645,645,645,645
4,GR,2019,38,38,947,770,0.813094,770,770,770,770
5,LP,2016,62,62,2095,598,0.285442,637,637,613,613
6,LP,2017,24,24,880,336,0.381818,352,240,336,224
7,LP,2018,42,42,1165,99,0.084979,99,66,99,66
8,LP,2019,70,70,2248,482,0.214413,941,430,618,291
9,WF,2015,252,249,9677,2436,0.251731,2436,2428,2436,2428
10,WF,2016,414,391,14089,5943,0.421818,5977,5447,5971,5441
11,WF,2017,431,429,14732,6305,0.427980,6305,5534,5328,4586
12,WF,2018,391,387,14273,3668,0.256989,3668,2613,3250,2479
13,WF,2019,482,482,17845,7052,0.395181,7535,6166,4951,4293
14,WX,2015,153,153,3970,3130,0.788413,3130,3130,3130,3130
15,WX,2016,205,205,5412,3798,0.701774,4206,3125,3886,2805
16,WX,2017,137,137,3765,2741,0.728021,2853,2313,2812,2272
17,WX,2018,159,159,5191,4036,0.777500,4036,3491,3574,3085
18,WX,2019,114,110,4209,3008,0.714659,3145,1740,2584,1526
19,XP,2015,166,166,4099,2646,0.645523,2646,2646,2636,2636
20,XP,2016,129,117,2947,1478,0.501527,1590,1453,1327,1190
21,XP,2017,104,98,2718,1496,0.550405,1544,1060,1459,975
22,XP,2018,205,202,5942,3913,0.658532,3965,2515,3402,2004
23,XP,2019,74,70,2412,1397,0.579187,1397,1027,1177,869
24,ZB,2017,2,2,26,6,0.230769,6,4,6,4

In [181]:
def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'red' if val < 0.5 else 'green'
    return 'color: %s' % color

#s = finaldf.style.applymap(color_negative_red, subset = ['Percent both Parent LINCD with TGSMN']).format({'Percent both Parent LINCD with TGSMN': "{:.2%}"})

In [182]:
finaldf.style.\
    applymap(color_negative_red, subset = ['Percent both Parent LINCD with TGSMN']).format({'Percent both Parent LINCD with TGSMN': "{:.2%}"}).\
    to_excel('China QC Data2.xlsx', engine='openpyxl')